<div class="container">
  <br>
  <br>
  <br>
  <form (ngSubmit)='update()' #updateForm='ngForm' class="form-signin">

    <h1 class="h3 mb-3 font-weight-normal">Update Message</h1>

    <input type="text" id="inputEmail"  class="form-control"  placeholder="Name" name="name" #name='ngModel' [(ngModel)]="editMessages.name" >
    <br>
    <br>

      <textarea type="text"  class="form-control" placeholder="Message" name="name" #name='ngModel' [(ngModel)]="editMessages.text" ></textarea>

    <br>
    <br>


    <button class="btn  btn-primary btn-block" type="submit" style="background-color: black;"><font style="color: white;">Update Message</font></button>
  </form>

  <img class="center" src="../../assets/images/update.svg" width="30%" height="50%">
</div>





