<div class="container content">
  <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mx-auto">
        <div class="card">
          <div class="card-header">Messages</div>
          <div class="card-body height3">
            <ul class="chat-list" *ngFor="let message of data; let i = index">
              <li class="in">
                <div class="chat-img">
                  <img alt="Avatar" src="https://bootdey.com/img/Content/avatar/avatar1.png">
                </div>
                <div class="chat-body">
                  <div class="chat-message">
                    <h5>{{message.name}}</h5>
                    <p>{{message.text}}</p>
                      <p>{{message.dateAdded | date}}</p>
                  </div>
                </div>
              </li>
              <li class="out">
                <div class="chat-img">
                  <img alt="Avtar" src="https://bootdey.com/img/Content/avatar/avatar6.png">
                </div>
                <div class="chat-body">
                  <div class="chat-message">
                    <h5>{{message.name}}</h5>
                    <p>{{message.text}}</p>
                      <p>{{message.dateAdded | date}}</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

  </div>
</div>
